body {
  display: flex;
  flex-direction: column;
}

.storiesOfTheDay {
  text-align: center;
  margin: 20px 0px;
  font-size: 2em;
}

.submissionForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 15px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
}

.formTitle {
  text-decoration: underline;
  font-size: 1.5em;
}

.submissionForm label {
  margin: 5px 0px;
  text-align: center;
}

.submissionForm input {
  width: 100%;
}